<section class="hero">
  <div class="icon"><img src="assets/ASK3L STUDIO pink. png.png" alt="" /></div>
  <nav>
    <h2 class="logo">ASK<span>3L</span></h2>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Skills</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <a href="#" class="btn">Subscribe</a>
  </nav>
  <div class="content">
    <h4>Hello, my name is</h4>
    <h1>KEVIN <span>DANVERS</span></h1>
    <h3>I'm an Artist, and this my portfolio</h3>
    <div class="newslatter">
      <form>
        <input
          type="email"
          name="email"
          id="mail"
          placeholder="Enter Your Email"
        />
        <input type="submit" name="submit" value="Lets Start" />
      </form>
    </div>
  </div>
  <video
    autoplay
    muted
    loop
    id="myVideo"
    oncanplay="this.play()"
    onloadedmetadata="this.muted= true"
  >
    <source src="assets\pexels-engin-akyurt-6068179.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
  </video>
</section>
<!----About section start---->
<section class="about">
  <div class="main">
    <img src="assets/main-img.png" />
    <div class="about-text">
      <h2>About Me</h2>
      <h5>Developer <span>& Designer</span></h5>
      <p>
        I am a front-end web developer. I can provide clean code and pixel
        perfect design. I also make the website more & more interactive with web
        animations.I can provide clean code and pixel perfect design. I also
        make the website more & more interactive with web animations.A
        responsive design makes your website accessible to all users, regardless
        of their device.
      </p>
      <button type="button">Let's Talk</button>
    </div>
  </div>
  <br /><br />
  <h1 class="">Portfolio</h1>
</section>
<!------portfolio start--------->
<div class="slot">
  <section class="portfolio" observe>
    <div>
      <img
        src="assets/illustrations/askel-danvers-nice-forwhat-africa-smaller.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        src="assets/illustrations/ask3l-danvers-img-20180822-115955-949.jpg"
        alt=""
      />
    </div>
    <div>
      <img src="assets/illustrations/ask3l-danvers-asset.jpg" alt="" />
    </div>
    <div>
      <img
        src="assets/illustrations/askel-danvers-askel-chibi-final-2.jpg"
        alt=""
      />
    </div>
    <div>
      <img src="assets/illustrations/askel-danvers-riva.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/askel-danvers-bird1.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/ask3l-danvers-francesco-logo.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/askel-danvers-viking.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/askel-danvers-willo-smith.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/ask3l-danvers-vmf-01.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/ask3l-danvers-africa.jpg" alt="" />
    </div>
    <div>
      <img
        src="assets/illustrations/askel-danvers-mali character design.jpg"
        alt=""
      />
    </div>
    <div>
      <img src="assets/illustrations/askel-danvers-versans-c.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/askel-danvers-versans-e.jpg" alt="" />
    </div>
    <div>
      <img
        src="assets/illustrations/askel-danvers-versans-f2-words.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        src="assets/illustrations/askel-danvers mali as a child.jpg"
        alt=""
      />
    </div>
    <div>
      <img src="assets/illustrations/black water flyer.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/mali and nany.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/dancehall.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/river muma-.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/cover page.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/CRAZY NIGHT (1).jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/GRENADE PIN.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/pikka.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/big algler fish river mummah.png" alt="" />
    </div>
    <div>
      <img
        src="assets/illustrations/rolling calf cotton tree and mali 2.jpg"
        alt=""
      />
    </div>
    <div>
      <img src="assets/illustrations/illustration-3.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/image1 (1).JPG" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/pitch bible 3.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/KGN 20 (1).jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/nice for what series 12.jpg" alt="" />
    </div>
    <div>
      <img src="assets/illustrations/pitch bible 7.jpg" alt="" />
    </div>
  </section>
</div>

<!-----service section start----------->
<div class="service">
  <div class="title">
    <h2>Our Services</h2>
  </div>

  <div class="box">
    <div class="card">
      <i class="fas fa-bars"></i>
      <h5>Animation and Special Effects</h5>
      <div class="pra">
        <p>
          Every website should be built with two primary goals: Firstly, it
          needs to work across all devices. Secondly, it needs to be fast as
          possible.
        </p>

        <p style="text-align: center">
          <a class="button" href="#">Read More</a>
        </p>
      </div>
    </div>

    <div class="card">
      <i class="far fa-user"></i>
      <h5>Web Development and Design</h5>
      <div class="pra">
        <p>
          Every website should be built with two primary goals: Firstly, it
          needs to work across all devices. Secondly, it needs to be fast as
          possible.
        </p>

        <p style="text-align: center">
          <a class="button" href="#">Read More</a>
        </p>
      </div>
    </div>

    <div class="card">
      <i class="far fa-bell"></i>
      <h5>Graphics and Illustration</h5>
      <div class="pra">
        <p>
          Every website should be built with two primary goals: Firstly, it
          needs to work across all devices. Secondly, it needs to be fast as
          possible.
        </p>

        <p style="text-align: center">
          <a class="button" href="#">Read More</a>
        </p>
      </div>
    </div>
  </div>
</div>

<!------Contact Me------>
<div class="contact-me">
  <p>Let Me Get You A Beautiful Website.</p>
  <a class="button-two" href="#">Hire Me</a>
</div>

<!------footer start--------->
<footer>
  <p>Kevin Danvers</p>
  <p>
    To see more design - please click on the link below to subscribe to my
    channel:
  </p>
  <div class="social">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-dribbble"></i></a>
  </div>
  <p class="end">CopyRight By Kevin Danvers</p>
</footer>
